body{
	background-color: #f2eaea;
}
header{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	background-color: #f2eaea;
	color: #bfafaf;
	margin: 0px;

}
ul{
	list-style-type:none;
	height: 50px;
	line-height: 50px;
	background-color: #6d9e66;
	margin: 0;
	padding: 0;
}
header a{
	text-decoration-line: none;
	color:  #282020;
}
li {
	float: left;
}
li a{
	display: block;
	text-decoration: none;
	height: 50px;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}
#login{
	position: absolute;
	right: 30px;
	padding: 0px 10px 0px 10px;

}
#register{
	position: absolute;
	right: 100px;
	padding: 0px 10px 0px 10px;

}
li a:hover{
	background-color: #e2d3d3;
}
ul li a{	
	color: #282020;
	font-size: 20px;	
}
ul li:hover{
	background-color: #e2d3d3;
}
ul li ul{
	display: none;
	width: 100px;
	height: 100px;
	background-color: #e2d3d3;
}
ul li:hover ul{
	display: block;	
	height: 100px;
}

ul li ul li a:hover{
	background-color: #49d32a;
	margin: 0;
	
}

#smallscreens{
	display: none;
}
#bigscreens{
	
}
#submit{
	cursor: pointer;
	background-color: #618ba0;
	border: none;
}
#submit:hover{
	padding: 5px;
}


h2{
	text-align: left;
	background-color: #6d9e66;
	position: absolute;
}
#recent-uploads{	
	position: absolute;
	width: 100%;
	top: 600px;
	z-index: -10;

}
#recent-uploads-header{	
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: -10;
}

img{
	width: 350px;
	height: 350px;
	padding: 10px;
	margin: 10px;
}
#recent-uploads-images{
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	top: 100px;
	
}
figcaption{
	text-align: center;
}
#Most-Viewed{	
	position: absolute;
	width: 100%;
	top: 1100px;

}
#Most-Viewed-header{	
	width: 100%;
	top:100px ;

}
#Most-Viewed-images{
	position: absolute;
	width: 100%;
	top:200px ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	
}
#product-1,#product-2,#product-3{
	width: 100%;
	background-color: #f2eaea;
}
#product-div{
	position: absolute;
	top: 250px;
}
#footer{
	height: 100px;
	line-height: 100px;
	width: 100%;
	position: absolute;
	background-color: #6d9e66;
	top: 2000px;
}
h1{
	text-align: center;
	position: absolute;
	top: 200px;
	width: 100%;
}
#form-container{
	position: absolute;
	width: 40%;
	left: 20%;
	top: 20%;
	z-index: -1;
}
#carouselExampleIndicators{
	position: absolute;
	width: 98%;
	margin: 0;
	top: 90px;
	left: 0;
	z-index: -1;
}	
#carousel-image{
	height: 500px;
}
#search-con{
	width: 100%;
	position: absolute;
	top: 150px;
}
#Searchbutton{
	position: absolute;
	right: 0;
}
#apartmentinput{
	position: absolute;
	right: 80px;
}
#locationinput{
	position: absolute;
	right: 300px;
}
i{
	color: #fff;
}

