<!DOCTYPE >
<html>
<head>
	<title>corpershub</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link type="text/css" media="screen and (max-width: 840px)" rel="stylesheet" href="css/style2.css" />
	<link type="text/css" media="screen and (min-width: 845px) and (max-width: 1200px)" rel="stylesheet" href="css/style3.css" />
</head>
<body>

	<!-- header -->
	<header><a href="index.html">Corpershub</a></header>
	<!-- navbar -->
	<div >
	<ul id="bigscreens">
		<li >
			<!-- dropdowns -->
			<a href="{% url 'login' %}" id="Market-hub">Home</a>
		</li>
		<li>
			<a href="{% url 'login' %}" id="login">Login</a>
			<a href="#" id="register">Sign up</a>
		</li>
	</ul> 
	<ul id="smallscreens">
		<li>
			<a href="#" id="Market-hub-smallscreen">Home</a>	
		</li>
		<li>
			<a href="#" id="ll">Login</a>
			<a href="#" id="ll">Register</a>
		</li>
	</ul>
	</li>
	</ul>
	</div>
	<h1>Learning Hub</h1>
	<div>
		<ul id="product-div">
			<li id="product"><a href="list.html">French language skills</a></li>
			<li id="product"><a href="barber.html">Health & Safety & Compliance</a></li>	
			<li id="product"><a>Finacial & economic Literacy</a></li>	
			<li id="product"><a>Arabic Language Literacy</a></li>	
			<li id="product"><a>Health Literacy</a></li>	
			<li id="product"><a>Digital Literacy and IT Skills</a></li>
			<li id="product"><a>Person Development & Soft Skills</a></li>
		</ul>
	</div>
	<div id="footer" style="top: 800px;">
		
	</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="script/jquery-3.4.1.min.js"></script>
<script src="script/bootstrap.bundle.js"></script>
<script src="script/script.js"></script>
</html>